# Day017
## ç‰¹å¾µå·¥ç¨‹ç°¡ä»‹
> Actually, the success of all machine learning algorithms depends on how you present the data - Mohammad Pezeshki

> Feature Engineering is the process of transforming raw data into features that better represent the underlying problem to the predictive models, resulting in improved model accuracy on unseen data. - Jason Brownlee 

> Feature Engineering is manually designing what the input x's should be. - Tomasz Malisiewicz

ä»¥è€ƒæ…®åšäº‹çš„å„ªå…ˆé †åºä¾†èªªï¼Œæˆ‘å€‘æœƒä¾ç…§äº‹æƒ…çš„è¼•é‡ç·©æ€¥èˆ‡è€—è²»æ™‚é–“ä¾†åˆ¤æ–·ï¼Œä½†æ¯ä¸€é …éƒ½è©²æœ‰ä¸åŒçš„æ¬Šé‡ï¼Œè€Œå¾äº‹å¯¦åˆ°å°æ‡‰åˆ†æ•¸çš„è½‰æ›å°±ç¨±ç‚ºç‰¹å¾µå·¥ç¨‹ã€‚

### æ•¸æ“šé è™•ç†
åƒè€ƒ[ç‰¹å¾µå·¥ç¨‹åˆ°åº•æ˜¯ç”šéº¼?](https://www.zhihu.com/question/29316149)

æˆ‘å€‘æ‹¿åˆ°åŸå§‹è³‡æ–™æ™‚ï¼Œæœªç¶“è™•ç†çš„ç‰¹å¾µé€šå¸¸æœƒæœ‰ä»¥ä¸‹å¹¾ç¨®å•é¡Œ:
1. é‡ç¶±ä¸åŒ: ç‰¹å¾µè¦æ ¼ä¸åŒç„¡æ³•æ¯”è¼ƒï¼Œéœ€åšç„¡é‡ç¶±åŒ–ã€‚
2. è³‡è¨Šå†—é¤˜: æ¯”å¦‚åªåœ¨ä¹æ˜¯å¦åŠæ ¼ï¼Œå€‹åˆ¥åˆ†æ•¸å°±ä¸å¤ªé‡è¦ï¼Œå°‡åˆ†æ•¸æ”¹ç‚º0å’Œ1å³å¯ï¼Œéœ€åšäºŒåˆ†åŒ–ã€‚
3. é¡åˆ¥å‹ç‰¹å¾µä¸èƒ½ç›´æ¥ä½¿ç”¨: éœ€å°‡å…¶ç·¨ç¢¼å¾Œæ‰èƒ½è¼¸å…¥æ¨¡å‹ä¸­ã€‚
4. æœ‰éºå¤±å€¼: éœ€æƒ³è¾¦æ³•å¡«è£œã€‚

ä»¥ä¸Šå•é¡Œä½¿ç”¨sklearnçš„preprocessingå°±èƒ½è™•ç†

<img src="./D17.png" width = 700px>

# ç¯„ä¾‹ : (Kaggle)æˆ¿åƒ¹é æ¸¬ç²¾ç°¡ç‰ˆ 
https://www.kaggle.com/c/house-prices-advanced-regression-techniques
***
- ä»¥ä¸‹æ˜¯æˆ¿åƒ¹é æ¸¬çš„ç²¾ç°¡ç‰ˆç¯„ä¾‹
- ä½¿ç”¨æœ€å°é‡çš„ç‰¹å¾µå·¥ç¨‹ä»¥åŠç·šæ€§å›æ­¸æ¨¡å‹åšé æ¸¬, æœ€å¾Œè¼¸å‡ºå¯ä»¥åœ¨Kaggleæäº¤çš„é æ¸¬æª”

In [1]:
# è¼‰å…¥å¥—ä»¶
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

#è®€å–è¨“ç·´èˆ‡æ¸¬è©¦è³‡æ–™
data_path = '../Data/Part02/'
df_train = pd.read_csv(data_path + 'house_train.csv.gz')
df_test = pd.read_csv(data_path + 'house_test.csv.gz')
print(df_train.shape)

(1460, 81)

### è¨“ç·´è³‡æ–™éœ€è¦ train_X, train_Y / é æ¸¬è¼¸å‡ºéœ€è¦ ids(è­˜åˆ¥æ¯å€‹é æ¸¬å€¼), test_X
### åœ¨æ­¤å…ˆæŠ½é›¢å‡º train_Y èˆ‡ ids, è€Œå…ˆå°‡ train_X, test_X è©²æœ‰çš„è³‡æ–™åˆä½µæˆ df, å…ˆä½œç‰¹å¾µå·¥ç¨‹

å…¶ä¸­[numpy.log1p](https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.log1p.html)ç‚ºè¨ˆç®— $ln(1 + x)$ï¼Œå¯ä»¥é¿å…å°æ•¸é»è¢«å¿½ç•¥çš„æƒ…æ³ï¼Œå¦‚ä¸‹
```
>>> 1e-100 == 0.0
False
>>> 1e-100 + 1.0 == 1.0
True
```
å¦å¤–ä¸»è¦çš„åŠŸèƒ½æ˜¯ä½¿æœ‰åæ…‹çš„è³‡æ–™åˆ†å¸ƒæ›´æ¥è¿‘é«˜æ–¯åˆ†å¸ƒï¼Œè®“é æ¸¬çµæœæ›´å¥½

åƒè€ƒ[What is the purpose of numpy.log1p( )?](https://stackoverflow.com/questions/49538185/what-is-the-purpose-of-numpy-log1p)

In [2]:
train_Y = np.log1p(df_train['SalePrice'])
ids = df_test['Id']
df_train = df_train.drop(['Id', 'SalePrice'] , axis=1)
df_test = df_test.drop(['Id'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal

###  ğŸ’› ç‰¹å¾µå·¥ç¨‹-ç°¡åŒ–ç‰ˆ : å…¨éƒ¨ç©ºå€¼å…ˆè£œ-1, æ‰€æœ‰é¡åˆ¥æ¬„ä½å…ˆåš LabelEncoder, ç„¶å¾Œå†èˆ‡æ•¸å­—æ¬„ä½åšMinMaxScaler
### é€™å€å¡Šçš„ç´°ç¯€æœƒåœ¨å¾ŒçºŒçš„èª²ç¨‹åšè§£èªª

å…¶ä¸­list()å’Œ.reshape(-1, 1)éƒ½æ˜¯ç‚ºäº†è¦èª¿æ•´æ ¼å¼ï¼Œå› ç‚ºæ ¼å¼å’ŒScalerè¦æ±‚çš„ä¸åŒå°±æœƒå‡ºéŒ¯

1. list: æ•¸å€¼å‹çš„arrayæ˜¯æœ‰æ˜ç¢ºç¶­åº¦çš„, æ‰€ä»¥æ•¸å€¼å‹æ¬„ä½.valueså¾Œå¯ä»¥ç•¶è¼¸å…¥ï¼Œè€Œæ–‡å­—å‹çš„arrayå‰‡ç¶­åº¦æœ‰æ¨¡ç³Šåœ°å¸¶ (æœ‰å¹¾å€‹å­—? é‚„æ˜¯å­—è£¡é¢æœ‰å¹¾å€‹å­—æ¯?)ï¼Œæ‰€ä»¥è¦ç”¨listé™åˆ¶ä½, ä¸¦è®“scalerçŸ¥é“ä»–çš„ç¶­åº¦
2. reshape: MinMaxScalerè¼¸å…¥åªåƒäºŒç¶­é™£åˆ—ï¼Œå› æ­¤ä¸€ç¶­é™£åˆ—è¦é€²å», å°±å¿…é ˆå…ˆReshapeæˆäºŒç¶­é™£åˆ—æ‰èƒ½è¼¸å…¥ï¼Œ(-1, 1)ä»£è¡¨ä¸è«–å¹¾rowsï¼Œä½†é™åˆ¶è¦ä¸€å€‹column

In [3]:
LEncoder = LabelEncoder()
MMEncoder = MinMaxScaler()
for c in df.columns:
    df[c] = df[c].fillna(-1)
    if df[c].dtype == 'object':
        df[c] = LEncoder.fit_transform(list(df[c].values))
    # ç„¡é‡ç¶±åŒ– - å€é–“ç¸®æ”¾    
    df[c] = MMEncoder.fit_transform(df[c].values.reshape(-1, 1))
df.head()

C:\Users\ChihYing\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,0.235294,0.8,0.210191,0.033420,1.0,0.0,1.0,1.0,0.5,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.090909,0.50,1.0,0.8
1,0.000000,0.8,0.257962,0.038795,1.0,0.0,1.0,1.0,0.5,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.363636,0.25,1.0,0.8
2,0.235294,0.8,0.219745,0.046507,1.0,0.0,0.0,1.0,0.5,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.727273,0.50,1.0,0.8
3,0.294118,0.8,0.194268,0.038561,1.0,0.0,0.0,1.0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.090909,0.00,1.0,0.0
4,0.235294,0.8,0.270701,0.060576,1.0,0.0,0.0,1.0,0.5,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.50,1.0,0.8

###  ğŸ’› ç‰¹å¾µå·¥ç¨‹-ç°¡åŒ–ç‰ˆ :å°‡å‰è¿°è½‰æ›å®Œç•¢è³‡æ–™ df , é‡æ–°åˆ‡æˆ train_X, test_X

In [4]:
train_num = train_Y.shape[0]
train_X = df[:train_num]
test_X = df[train_num:]

### ä½¿ç”¨ç·šæ€§è¿´æ­¸æ¨¡å‹
### train_X, train_Y è¨“ç·´æ¨¡å‹, ä¸¦å° test_X åšå‡ºé æ¸¬çµæœ pred

In [5]:
from sklearn.linear_model import LinearRegression
estimator = LinearRegression()
estimator.fit(train_X, train_Y)
pred = estimator.predict(test_X)

### å°‡è¼¸å‡ºçµæœ pred èˆ‡å‰é¢ç•™ä¸‹çš„ ID(ids) åˆä½µ, è¼¸å‡ºæˆæª”æ¡ˆ
### å¯ä»¥ä¸‹è¼‰ä¸¦é»é–‹ house_baseline.csv æŸ¥çœ‹çµæœ, ä»¥ä¾¿äº†è§£é æ¸¬çµæœçš„è¼¸å‡ºæ ¼å¼
### æœ¬ç¯„ä¾‹æ‰€èˆ‡ä½œæ¥­æ‰€è¼¸å‡ºçš„ csv æª”, å‡å¯ç”¨æ–¼æœ¬é¡Œçš„ Kaggle ç­”æ¡ˆä¸Šå‚³, å¯ä»¥è©¦è‘—ä¸Šå‚³ä¾†ç†Ÿæ‚‰ Kaggle çš„ä»‹é¢æ“ä½œ

In [6]:
# å‰é¢åšäº†log1p æ‰€ä»¥è¦é‚„åŸ
pred = np.expm1(pred)
sub = pd.DataFrame({'Id': ids, 'SalePrice': pred})
sub.to_csv('house_baseline.csv', index=False)

# ä½œæ¥­ : (Kaggle)éµé”å°¼ç”Ÿå­˜é æ¸¬ç²¾ç°¡ç‰ˆ 
https://www.kaggle.com/c/titanic

# ä½œæ¥­1
* ä¸‹åˆ—A~Eäº”å€‹ç¨‹å¼å€å¡Šä¸­ï¼Œå“ªä¸€å¡Šæ˜¯ç‰¹å¾µå·¥ç¨‹?
> å€å¡ŠC

# ä½œæ¥­2
* å°ç…§ç¨‹å¼å€å¡Š B èˆ‡ C çš„çµæœï¼Œè«‹å•é‚£äº›æ¬„ä½å±¬æ–¼"é¡åˆ¥å‹æ¬„ä½"? (å›ç­”æ¬„ä½è‹±æ–‡åç¨±å³å¯) 
> Name, Sex, Ticket, Cabin, Embarked

# ä½œæ¥­3
* çºŒä¸Šé¡Œï¼Œè«‹å•å“ªå€‹æ¬„ä½æ˜¯"ç›®æ¨™å€¼"?
> Survived

In [7]:
# ç¨‹å¼å€å¡Š A
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

data_path = '../Data/Part02/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')
df_train.shape

(891, 12)

In [8]:
# ç¨‹å¼å€å¡Š B
train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
# ç¨‹å¼å€å¡Š C
LEncoder = LabelEncoder()
MMEncoder = MinMaxScaler()
for c in df.columns:
    df[c] = df[c].fillna(-1)
    if df[c].dtype == 'object':
        df[c] = LEncoder.fit_transform(list(df[c].values))
    df[c] = MMEncoder.fit_transform(df[c].values.reshape(-1, 1))
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0.118683,1.0,0.283951,0.125,0.0,0.775862,0.016072,0.000000,1.000000
1,0.0,0.218989,0.0,0.481481,0.125,0.0,0.879310,0.140813,0.575269,0.333333
2,1.0,0.400459,0.0,0.333333,0.000,0.0,0.984914,0.017387,0.000000,1.000000
3,0.0,0.323124,0.0,0.444444,0.125,0.0,0.070043,0.105390,0.381720,1.000000
4,1.0,0.016845,1.0,0.444444,0.000,0.0,0.699353,0.017630,0.000000,1.000000

In [10]:
# ç¨‹å¼å€å¡Š D
train_num = train_Y.shape[0]
train_X = df[:train_num]
test_X = df[train_num:]

from sklearn.linear_model import LogisticRegression
estimator = LogisticRegression()
estimator.fit(train_X, train_Y)
pred = estimator.predict(test_X)

In [11]:
# ç¨‹å¼å€å¡Š E
sub = pd.DataFrame({'PassengerId': ids, 'Survived': pred})
sub.to_csv('titanic_baseline.csv', index=False)