# Day017
## ÁâπÂæµÂ∑•Á®ãÁ∞°‰ªã
‰ª•ËÄÉÊÖÆÂÅö‰∫ãÁöÑÂÑ™ÂÖàÈ†ÜÂ∫è‰æÜË™™ÔºåÊàëÂÄëÊúÉ‰æùÁÖß‰∫ãÊÉÖÁöÑËºïÈáçÁ∑©ÊÄ•ËàáËÄóË≤ªÊôÇÈñì‰æÜÂà§Êñ∑Ôºå‰ΩÜÊØè‰∏ÄÈ†ÖÈÉΩË©≤Êúâ‰∏çÂêåÁöÑÊ¨äÈáçÔºåËÄåÂæû‰∫ãÂØ¶Âà∞Â∞çÊáâÂàÜÊï∏ÁöÑËΩâÊèõÂ∞±Á®±ÁÇ∫ÁâπÂæµÂ∑•Á®ã„ÄÇ

<img src="./D17.png" width = 700px>

# ÁØÑ‰æã : (Kaggle)ÊàøÂÉπÈ†êÊ∏¨Á≤æÁ∞°Áâà 
https://www.kaggle.com/c/house-prices-advanced-regression-techniques
***
- ‰ª•‰∏ãÊòØÊàøÂÉπÈ†êÊ∏¨ÁöÑÁ≤æÁ∞°ÁâàÁØÑ‰æã
- ‰ΩøÁî®ÊúÄÂ∞èÈáèÁöÑÁâπÂæµÂ∑•Á®ã‰ª•ÂèäÁ∑öÊÄßÂõûÊ≠∏Ê®°ÂûãÂÅöÈ†êÊ∏¨, ÊúÄÂæåËº∏Âá∫ÂèØ‰ª•Âú®KaggleÊèê‰∫§ÁöÑÈ†êÊ∏¨Ê™î

In [1]:
# ËºâÂÖ•Â•ó‰ª∂
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

#ËÆÄÂèñË®ìÁ∑¥ËàáÊ∏¨Ë©¶Ë≥áÊñô
data_path = '../Data/Part02/'
df_train = pd.read_csv(data_path + 'house_train.csv.gz')
df_test = pd.read_csv(data_path + 'house_test.csv.gz')
print(df_train.shape)

(1460, 81)

### Ë®ìÁ∑¥Ë≥áÊñôÈúÄË¶Å train_X, train_Y / È†êÊ∏¨Ëº∏Âá∫ÈúÄË¶Å ids(Ë≠òÂà•ÊØèÂÄãÈ†êÊ∏¨ÂÄº), test_X
### Âú®Ê≠§ÂÖàÊäΩÈõ¢Âá∫ train_Y Ëàá ids, ËÄåÂÖàÂ∞á train_X, test_X Ë©≤ÊúâÁöÑË≥áÊñôÂêà‰ΩµÊàê df, ÂÖà‰ΩúÁâπÂæµÂ∑•Á®ã

ÂÖ∂‰∏≠[numpy.log1p](https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.log1p.html)ÁÇ∫Ë®àÁÆó $ln(1 + x)$ÔºåÂÖ∂ÁõÆÁöÑÁÇ∫ÈÅøÂÖçÂ∞èÊï∏ÈªûË¢´ÂøΩÁï•ÁöÑÊÉÖÊ≥ÅÔºåÂ¶Ç‰∏ã
```
>>> 1e-100 == 0.0
False
>>> 1e-100 + 1.0 == 1.0
True
```
ÂèÉËÄÉ[What is the purpose of numpy.log1p( )?](https://stackoverflow.com/questions/49538185/what-is-the-purpose-of-numpy-log1p)

In [2]:
train_Y = np.log1p(df_train['SalePrice'])
ids = df_test['Id']
df_train = df_train.drop(['Id', 'SalePrice'] , axis=1)
df_test = df_test.drop(['Id'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal

###  üíõ ÁâπÂæµÂ∑•Á®ã-Á∞°ÂåñÁâà : ÂÖ®ÈÉ®Á©∫ÂÄºÂÖàË£ú-1, ÊâÄÊúâÈ°ûÂà•Ê¨Ñ‰ΩçÂÖàÂÅö LabelEncoder, ÁÑ∂ÂæåÂÜçËàáÊï∏Â≠óÊ¨Ñ‰ΩçÂÅöMinMaxScaler
### ÈÄôÂçÄÂ°äÁöÑÁ¥∞ÁØÄÊúÉÂú®ÂæåÁ∫åÁöÑË™≤Á®ãÂÅöËß£Ë™™

In [3]:
LEncoder = LabelEncoder()
MMEncoder = MinMaxScaler()
for c in df.columns:
    df[c] = df[c].fillna(-1)
    if df[c].dtype == 'object':
        df[c] = LEncoder.fit_transform(list(df[c].values))
    # ÁÑ°ÈáèÁ∂±Âåñ - ÂçÄÈñìÁ∏ÆÊîæ    
    df[c] = MMEncoder.fit_transform(df[c].values.reshape(-1, 1))
df.head()

C:\Users\ChihYing\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,0.235294,0.8,0.210191,0.033420,1.0,0.0,1.0,1.0,0.5,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.090909,0.50,1.0,0.8
1,0.000000,0.8,0.257962,0.038795,1.0,0.0,1.0,1.0,0.5,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.363636,0.25,1.0,0.8
2,0.235294,0.8,0.219745,0.046507,1.0,0.0,0.0,1.0,0.5,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.727273,0.50,1.0,0.8
3,0.294118,0.8,0.194268,0.038561,1.0,0.0,0.0,1.0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.090909,0.00,1.0,0.0
4,0.235294,0.8,0.270701,0.060576,1.0,0.0,0.0,1.0,0.5,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.50,1.0,0.8

###  üíõ ÁâπÂæµÂ∑•Á®ã-Á∞°ÂåñÁâà :Â∞áÂâçËø∞ËΩâÊèõÂÆåÁï¢Ë≥áÊñô df , ÈáçÊñ∞ÂàáÊàê train_X, test_X

In [4]:
train_num = train_Y.shape[0]
train_X = df[:train_num]
test_X = df[train_num:]

### ‰ΩøÁî®Á∑öÊÄßËø¥Ê≠∏Ê®°Âûã
### train_X, train_Y Ë®ìÁ∑¥Ê®°Âûã, ‰∏¶Â∞ç test_X ÂÅöÂá∫È†êÊ∏¨ÁµêÊûú pred

In [5]:
from sklearn.linear_model import LinearRegression
estimator = LinearRegression()
estimator.fit(train_X, train_Y)
pred = estimator.predict(test_X)

### Â∞áËº∏Âá∫ÁµêÊûú pred ËàáÂâçÈù¢Áïô‰∏ãÁöÑ ID(ids) Âêà‰Ωµ, Ëº∏Âá∫ÊàêÊ™îÊ°à
### ÂèØ‰ª•‰∏ãËºâ‰∏¶ÈªûÈñã house_baseline.csv Êü•ÁúãÁµêÊûú, ‰ª•‰æø‰∫ÜËß£È†êÊ∏¨ÁµêÊûúÁöÑËº∏Âá∫Ê†ºÂºè
### Êú¨ÁØÑ‰æãÊâÄËàá‰ΩúÊ•≠ÊâÄËº∏Âá∫ÁöÑ csv Ê™î, ÂùáÂèØÁî®ÊñºÊú¨È°åÁöÑ Kaggle Á≠îÊ°à‰∏äÂÇ≥, ÂèØ‰ª•Ë©¶Ëëó‰∏äÂÇ≥‰æÜÁÜüÊÇâ Kaggle ÁöÑ‰ªãÈù¢Êìç‰Ωú

In [6]:
pred = np.expm1(pred)
sub = pd.DataFrame({'Id': ids, 'SalePrice': pred})
sub.to_csv('house_baseline.csv', index=False)

# ‰ΩúÊ•≠ : (Kaggle)ÈêµÈÅîÂ∞ºÁîüÂ≠òÈ†êÊ∏¨Á≤æÁ∞°Áâà 
https://www.kaggle.com/c/titanic

# ‰ΩúÊ•≠1
* ‰∏ãÂàóA~E‰∫îÂÄãÁ®ãÂºèÂçÄÂ°ä‰∏≠ÔºåÂì™‰∏ÄÂ°äÊòØÁâπÂæµÂ∑•Á®ã?
> ÂçÄÂ°äC

# ‰ΩúÊ•≠2
* Â∞çÁÖßÁ®ãÂºèÂçÄÂ°ä B Ëàá C ÁöÑÁµêÊûúÔºåË´ãÂïèÈÇ£‰∫õÊ¨Ñ‰ΩçÂ±¨Êñº"È°ûÂà•ÂûãÊ¨Ñ‰Ωç"? (ÂõûÁ≠îÊ¨Ñ‰ΩçËã±ÊñáÂêçÁ®±Âç≥ÂèØ) 
> Name, Sex, Ticket, Cabin, Embarked

# ‰ΩúÊ•≠3
* Á∫å‰∏äÈ°åÔºåË´ãÂïèÂì™ÂÄãÊ¨Ñ‰ΩçÊòØ"ÁõÆÊ®ôÂÄº"?
> Survived

In [7]:
# Á®ãÂºèÂçÄÂ°ä A
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

data_path = '../Data/Part02/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')
df_train.shape

(891, 12)

In [8]:
# Á®ãÂºèÂçÄÂ°ä B
train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
# Á®ãÂºèÂçÄÂ°ä C
LEncoder = LabelEncoder()
MMEncoder = MinMaxScaler()
for c in df.columns:
    df[c] = df[c].fillna(-1)
    if df[c].dtype == 'object':
        df[c] = LEncoder.fit_transform(list(df[c].values))
    df[c] = MMEncoder.fit_transform(df[c].values.reshape(-1, 1))
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0.118683,1.0,0.283951,0.125,0.0,0.775862,0.016072,0.000000,1.000000
1,0.0,0.218989,0.0,0.481481,0.125,0.0,0.879310,0.140813,0.575269,0.333333
2,1.0,0.400459,0.0,0.333333,0.000,0.0,0.984914,0.017387,0.000000,1.000000
3,0.0,0.323124,0.0,0.444444,0.125,0.0,0.070043,0.105390,0.381720,1.000000
4,1.0,0.016845,1.0,0.444444,0.000,0.0,0.699353,0.017630,0.000000,1.000000

In [10]:
# Á®ãÂºèÂçÄÂ°ä D
train_num = train_Y.shape[0]
train_X = df[:train_num]
test_X = df[train_num:]

from sklearn.linear_model import LogisticRegression
estimator = LogisticRegression()
estimator.fit(train_X, train_Y)
pred = estimator.predict(test_X)

In [11]:
# Á®ãÂºèÂçÄÂ°ä E
sub = pd.DataFrame({'PassengerId': ids, 'Survived': pred})
sub.to_csv('titanic_baseline.csv', index=False)